body{
    margin:0;
    padding:0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* height:100vh; */
}

nav{
    background-color:#333;
    font-size: 28px;
    width:100%;
    display:flex;
    align-items:center;
    justify-content: space-between;
    color:darkslateblue;
}

nav li{
    display:inline-block;
    margin:0 8px;
}

nav a{
    text-decoration: none;
}

.logo{
    font-size:36px;
    font-weight: bolder;
}

nav a:hover{
    color:whitesmoke;
}

.menu-line{
    height:3px;
    width:20px;
    background-color: darkslateblue;
    margin-bottom: 3px;
}

.menu{
    cursor:pointer;
    display:none;   
}
.shop {
color: orange;
}
.cart {
color: blue;
}
.con {
color: orange;
}
.us {
color: blue;
}
.about{
width: 100%;
margin-top: 10px;
/* border: 2px solid black; */
display: flex;
justify-content: center;
justify-content: space-around;
justify-content: center;
align-items: center;
flex-wrap: wrap;


}
.about1{
width: 40rem;
/* border: 2px solid black; */

}
.d{
margin-top: 40px;
}
h1 ,h2{
margin-top: 20px;
text-align: center;
/* background-color: #333333de; */
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.about2{
/* width: 10rem; */
/* border: 2px solid black; */
background-color: #faf9f9;
padding: 20px;
font-weight: 800;
border-radius:70px 0px 100px 0px;
font-family: Arial, Helvetica, sans-serif;


}
.about3{
/* width: 10rem; */
/* border: 2px solid black; */
background-color: #faf9f9;
padding: 20px;
margin-right: 80px;
font-weight: 800;
border-radius:0px 80px 0px 80px ;
font-family: Arial, Helvetica, sans-serif;




}

.foot4 ul li{
display: inline;
padding: 10px;
}


.foot4{

position: relative;
left: 450px;

}



footer{ 
/* width: 100%; */
/* height: 60; */
/* border: 2px solid black; */
background-color: #333;  
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
justify-content:center ; 
padding: 10px;
margin-top: 10px;
margin-bottom: 20px;
}       
          
footer  a{
text-decoration: none;
color: #fff;
}


@media all and (max-width:640px){
    nav{
        flex-direction: column;
    }

    nav li{
        display:block;
        padding:10px 0;
    }
    ul{
        text-align: center;
        padding:0;
        display:none;
    }

    .logo{
        align-self:flex-start;
        margin:10px 0px 0px 30px;
    }

    .menu{
        display:block;
        position:absolute;
        right:100px;
        top:25px;
    }

    .showmenu{
        display:block;
    }


    footer{
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  padding: 10px;
  margin-top: 5px;

}
.foot1{ 
  padding: 10px;
  margin-top: 5px;
}
.foot4{
  margin-right: 60rem;
}
}


    





  @media(max-width:320px){
    .logo{
        height: 2rem;
    }
    .logo img{
        position: relative;
        right: 1.8rem;
        width: 50px;
    }
    .menu{
        position: relative;
        left: 7rem;
        top: -1rem;
    }
    .logo1{
        position: relative;
        font-size: 25px;
        left: 2rem;
        top: -2rem;

    }
  }




